
  <% @hub_pablo[:posts_by_date].each do |r|  %>
  <li class="list-group-item">

    <%= link_to '🟫', "https://api.doublethinklab.org/hub?q=#{r['title']}" %>
    <%= r['pubTime'].to_date.strftime('%Y-%m-%d') %>
    <%= link_to "#{r['siteName']} #{r['creator']}", r['url'], target: '_blank', title: "#{r['title']} #{ActionView::Base.full_sanitizer.sanitize r['content']}" %>
    </li>
  <% end %>
