  <% @hub_claim[:result].each do |r|  %>
  <li class="list-group-item">

    <%= link_to '🟧', "https://api.doublethinklab.org/hub?q=#{r['text']}" %>
    <%= r['claimReview'][0]['reviewDate'].to_date.strftime('%Y-%m-%d') %>
    <%= link_to "[#{r['claimReview'][0]['textualRating']}] #{r['claimReview'][0]['publisher']['name']}", r['claimReview'][0]['url'], target: '_blank', title: r['text'] %>
  </li>
  <% end %>