<li class="list-group-item" date="1999-01-01">
  <%= link_to "📚Doublethink Google Search Engine Result #{@ds_count || 0}", @ds_dl, title: 'Doublethink Site Archive', target: '_blank' %>
</li>

<%# @hub_domain.each do |r|  %>
<%# date = r['ctime'].to_datetime.strftime('%F %R') %>

<%# <li class="list-group-item" date="<%= date %>"> %>
  <%# <span class="d-inline-block text-truncate" style="max-width: 100%;"> %>
    <%# link_to '📚DS', "/hub?q=#{r['url']}", title: 'DTL Site' %>
    <%# date %>
    <%# link_to icon_url(r['url']), r['url'], target: '_blank' %>
    <%# "#{r['title']} #{r['description']}" %>
  <%# </span> %>
<%# </li> %>
<%# end %>
