<div class="col-md-6">
  <% @hub_fblink[:posts_by_date].each do |r|  %>
    <%= r['date'].to_date.strftime('%Y-%m-%d') %>
    <%= link_to "#{r['link_domain']}", r['url'], target: '_blank', title: r['title'] %>
    <br>
  <% end %>
</div>