<div class="col-md-6">
  <% @hub_cofact[:posts_by_date].each do |r|  %>
  <%= link_to '🟨', "https://api.doublethinklab.org/hub?q=#{r['text']}" %>
  <%= r['createdAt'].to_date.strftime('%Y-%m-%d') %>
  <%= link_to r['text'].truncate(20), "https://cofacts.g0v.tw/article/#{r['id']}", target: '_blank', title: r['articleReplies'] %>
  <br>
  <% end %>
</div>