<div class="col-md-6">

  <% @hub_pablo[:posts_by_date].each do |r|  %>
  🟥
    <%= r['pubTime'].to_date.strftime('%Y-%m-%d') %>
    <%= link_to "#{r['siteName']} #{r['creator']}", r['url'], target: '_blank', title: "#{r['title']} #{ActionView::Base.full_sanitizer.sanitize r['content']}" %>
    <br>
  <% end %>
</div>