<li class="list-group-item" date='2099-12-31'>
<% @hub_wikipedia[:result].each_with_index do |r,i|  %>
<span class="d-inline-block text-truncate" style="max-width: 100%;">
  <%= link_to '📓', "/hub?q=#{r['title']}", title: 'Wikipedia' %>
  <%# r['timestamp'].to_date.strftime('%F') %>
  <%= link_to "#{r['title']}" , "https://zh.wikipedia.org/wiki/#{r['title']}", target: '_blank', title: "#{(ActionView::Base.full_sanitizer.sanitize r['snippet'])}" %>
</span>
<% end %>
</li>