
  <% @hub_pablo[:posts_by_date][0..2].each do |r|  %>
  <li class="list-group-item">
<span class="d-inline-block text-truncate" style="max-width: 100%;">
    <%= link_to '📕CN', "/hub?q=#{r['title']}", title: 'CN' %>
    <%= r['pubTime'].to_date.strftime('%F') %>
    <%= link_to "#{r['siteName']} #{r['creator']}", r['url'], target: '_blank' %><%= " #{r['title']} #{ActionView::Base.full_sanitizer.sanitize r['content']}" %>
</span>
    </li>
  <% end %>
